# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
.pnp.js
.yarn/install-state.gz
vendor/

# testing
**/coverage
.tmp/
**/tmp-*-tests/

# next.js
**/.next/
**/out/

# production
**/build
**/dist

# misc
.DS_Store
*.pem
.claude

# Vendor binary location
vendor

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# all env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

**/.idea
tools/*/.idea

# Test screenshots
**/cypress/screenshots

#vscode
**/.vscode/

# Claude Code local settings
.claude/settings.local.json


**/.calc


logs

prebuilds

tools/backend/static
