.asciidoctor
.vscode
**/.idea
*.html
*.pdf
*.puml
**/.DS_Store
*-debug.log
*-error.log
tools/*/.idea
tools/*/.nyc_output
tools/*/dist/
tools/*/lib
tools/*/tmp
tools/*/yarn.lock
node_modules
tsconfig.tsbuildinfo
tools/*/coverage/
