<footer class="footer">
  <p>Built with <a href="https://cyberismo.com/">Cyberismo</a>.</p>
  <p>Copyright &copy; Cyberismo Ltd and contributors 2024.</p>
  <p><a href="https://github.com/CyberismoCom/cyberismo-docs/blob/main/LICENSE">Documentation licence</a>
    &middot;
    <a href="https://cyberismo.com/trademark-policy/">Trademark policy</a>
    &middot;
    <a href="https://github.com/CyberismoCom/cyberismo-docs/blob/main/CONTRIBUTING">Contributing</a>
  </p>
</footer>
